//buttons styles
.btnEvent{
    background-image: url('../img/plus.png');
    background-size: contain;
	background-color: transparent;
	background-repeat: no-repeat;
    border: none;
    width: 25px;
    height: 25px;
}