body {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  letter-spacing: 15px;
  font-size: 5vw;
  margin: 30px;
  text-transform: uppercase;
  color: #0b3c49;
}

ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

li {
  display: flex;
  justify-self: center;
  align-self: center;
}

.container {
  margin: 0 auto;
  width: 90vw;
  height: 80vh;
  box-shadow: 5px 5px 18px -5px rgba(0, 0, 0, 0.75);
  border-radius: 30px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 35% 1fr;
}

.btnEvent {
  background-image: url("../img/plus.png");
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  width: 25px;
  height: 25px;
}

[selected] {
  font-weight: bold;
  color: #0b3c49;
  cursor: pointer;
}

[isselected] {
  color: white;
  background-color: #0b3c49;
  width: 20px;
  text-align: center;
  display: block;
  border-radius: 100%;
  box-shadow: 0 0 0 10px #0b3c49;
}

[hasevent] {
  position: relative;
}
[hasevent]::after {
  content: "";
  background: #c14953;
  height: 10px;
  position: absolute;
  width: 10px;
  display: block;
  border-radius: 50%;
  top: -11px;
  left: 20px;
  box-shadow: 7px -11px 20px 11px white;
  transition: 0.5s;
}

.calendarContainer {
  display: grid;
  grid-template-rows: 10% 5% 10% 1fr;
  padding: 20px 50px;
}

.yearcontainer {
  justify-self: right;
  align-self: center;
}

.btnYearBefore {
  background-image: url("../img/arrow-preview.png");
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0px;
}

.year {
  font-size: 35px;
  padding: 0 10px;
  color: #0b3c49;
  font-weight: bold;
}

.btnYearAfter {
  background-image: url("../img/arrow-next.png");
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0px;
}

.months {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-self: center;
  text-align: center;
  font-size: 14px;
  color: #b3b3b3;
}

.week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-self: center;
  text-align: center;
  border-top: solid 2px #0b3c49;
  margin: 0;
  padding-top: 3%;
  text-transform: uppercase;
  color: gray;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.resume {
  background-color: #0b3c49;
  color: #e5eafa;
  position: relative;
  padding: 20px;
}

.numberDay {
  display: block;
  font-size: 80px;
  font-weight: bold;
  text-align: center;
}

.day {
  display: block;
  text-transform: uppercase;
  text-align: center;
}

.eventsContainer {
  position: absolute;
  top: 55%;
}

.eventForm {
  position: absolute;
  top: 85%;
}

.hourOfTheDay {
  width: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #e5eafa;
}

.eventText {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
}
.eventText::placeholder {
  color: #e5eafa;
}

p {
  font-weight: bold;
  position: absolute;
  top: 45%;
}

select {
  background-color: transparent;
  border: none;
}

/*# sourceMappingURL=style.css.map */
