//Events container styles

.resume {
  background-color: #0b3c49;
  color: #e5eafa;
  position: relative;
  padding: 20px;
}

.month {
}

.numberDay {
  display: block;
  font-size: 80px;
  font-weight: bold;
  text-align: center;
}

.day {
  display: block;
  text-transform: uppercase;
  text-align: center;
}

.eventsContainer {
  position: absolute;
  top: 55%;
}

.eventForm {
  position: absolute;
  top: 85%;
}

.hourOfTheDay {
  width: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #e5eafa;
}

.eventText {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  &::placeholder {
    color: #e5eafa;
  }
}

p {
  font-weight: bold;
  position: absolute;
  top: 45%;
}

select {
  background-color: transparent;
  border: none;
}
